body{
    background-color: black;
}
nav{
    text-align: center;
}
main{
    margin: 100px;
}
header{
    display: flex;
    background-color: yellow;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
h3,h2{
    color: yellow;
}
.titulo{
    font: arial;
    color: white;
}
p{
    color: white;
}